@{
    ViewBag.Title = "mainRegister";
}

<h2>Step 1: Choose Login</h2>
<a href="@Url.Action("University_Reg")"><div class="btn"><h3>University</h3></div></a>
<a href="@Url.Action("Register")"><div class="btn"><h3>Candidate</h3></div></a>


