@{
    ViewBag.Title = "Indexs";
   

}

@{
    Layout = "~/Views/Shared/_loginLayout.cshtml";
}

<h2>Indexs</h2>
@section featureds {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                 Welcome Dear University User to Cloud Based Admission Process System
            </p>
        </div>
       
    </section>
}