@{
    ViewBag.Title = "CLOUD BASED ADMISSION PROCESS SYSTEM";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <center>
                <hgroup class="title">
                    <h1>@ViewBag.Title</h1>
                </hgroup>
                </center>
                <p>
                    C.A.P.S. is the other name for Cloud based Admission Process System.
                    It is a platform to integrate the six main crux of educational system.
                    C.A.P.S. aids candidates in registering online from anywhere in the world and also uploading their
                    official documents with ease.
                    This system validates and authenticates the official documents online and hence provides high security
                    along with the smooth and ease of the admission process.
                    . It is maintained and controlled by DTE and provides
                    CBSE, ICSE, Maharashtra State Board , Mumbai University and the candidates additional services.
                </p>
</div>
        
    </section>
}
