@{
    ViewBag.Title = "convertPdfImg";
}

<h2>convertPdfImg</h2>
<section id="certi">
    @using (Html.BeginForm(null,null,FormMethod.Post,new{enctype ="multipart/form-data"}))
   {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="CertiTable">
            <table>
                <tr>
                    <td>
                        Select a file
                    </td>

                    <td>
                        <input type="file" name="File" id="file" style="width:auto" />

                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBox("Exception ", (string)ViewBag.exception, new { style = "width:170px" })
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <input type="submit" name="command" value="SignPDF" />
                    </td>
                </tr>
                </table>
                </div>
    }
        </section>
