@{
    ViewBag.Title = "Verification";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>Your Account has been Verifeid.
                <a href="http://localhost:50173/AccVerification/LoginVerify" title="Verified">Click Here</a> to proceed.
            </p>
        </div>

    </section>
}